<nav class="nav flex-column">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/events">Events</a>
    <a class="nav-link" href="/register">Register</a>
    <a class="nav-link" href="/attendance">Attendance</a>
</nav>
